#docker\.env.dist

APPLICATION_NAME=matomo

USER_ID=1000
GROUP_ID=33
DOCKER_SUFFIXE_PORT=03

BASE_IMAGE_DB=mariadb:10.4.34
BASE_IMAGE_MATOMO=matomo:5.5.0-apache
# BASE_IMAGE_DB=mariadb:11.5.2

DBMATOMO_CONTAINER_NAME=${APPLICATION_NAME}_db
MATOMO_CONTAINER_NAME=matomo_app

DOMAIN=
MATOMO_DOMAIN_NAME=${APPLICATION_NAME}.${DOMAIN}


HOST_DBMATOMO_PATH=./db/mysql/
DBMATOMO_ROOT_PASSWORD=root
DBMATOMO_USER=root
DBMATOMO_PASSWORD=root
DBMATOMO_NAME=${APPLICATION_NAME}_database


TRAEFIK_USERS="user1:pwd,user2:pwd"